@media (min-width:250px) and (max-width:1300px) {
    .guia-puntos{
        display: none;
    }
}
@media screen and (max-width:400px){
    .grupo{
        left: 5%;
        margin: 0.25rem 0.25rem 0.5rem 0.25rem;
    }
}
@media only screen and (max-width:1300px){
    .guia-puntos{
        display: none;
    }
    .nosotros, .ellos{
        background-color: whitesmoke;
        margin: 0.25rem 0.25rem 0.5rem 0.25rem;
    }
}